[submodule "bitcoin_app_base"]
	path = bitcoin_app_base
	url = https://github.com/LedgerHQ/app-bitcoin
	branch = baseapp
[submodule "ledger-app-ai-instructions"]
	path = ledger-app-ai-instructions
	url = https://github.com/LedgerHQ/ledger-app-ai-instructions
